image: idreesvend/sonarscanner-flutter:latest

clone:
  depth: full

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
      - name: SonarQube analysis
          script:
              - flutter test --machine --coverage
              - sonar-scanner -Dsonar.projectKey=${BITBUCKET_REPO_FULL_NAME}${BITBUCKET_PR_SOURCE_BRANCH} -Dsonar.sources=. -Dsonar.host.url=${SONAR_HOST_URL} -Dsonar.login=${SONAR_TOKEN}
              
  branches:
    '{master}': # or the name of your main branch
      - step:
          name: SonarQube analysis
          script:
              - flutter test --machine --coverage
              - sonar-scanner -Dsonar.projectKey=test -Dsonar.sources=. -Dsonar.host.url=${SONAR_HOST_URL} -Dsonar.login=${SONAR_TOKEN}
                  
definitions:
  caches:
    sonar: ~/.sonar