image: idreesvend/sonarscanner-flutter:latest

clone:
  depth: full

pipelines:
  branches:
    '{master}': # or the name of your main branch
      - step:
          name: SonarQube analysis
          script:
              - flutter doctor
              - sonar-scanner \       
                  -Dsonar.projectKey=test \
                  -Dsonar.host.url=${SONAR_HOST_URL} \
                  -Dsonar.login=${SONAR_TOKEN}
                  
definitions:
  caches:
    sonar: ~/.sonar