name: Flutter SonarQube Analysis

on:
  push:
    branches: 
      - '**'

jobs:
  build:
    runs-on: idreesvend/sonarscanner-flutter:latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 

    - name: Run Flutter Doctor
      run: flutter doctor

    - name: Run Flutter Tests
      run: flutter test --machine --coverage || true

    - name: Run SonarQube Analysis
      run: sonar-scanner
